.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: lightyellow;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content a {
  font-family: "Tahoma", Geneva, sans-serif;
  color:lightyellow;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px;
}

.dropdown_content a:hover {
  background-color: brown;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.title_box {
}
.header_box  {
  overflow: hidden;

    display:flex;
    flex-direction:row;
	background-color: lightyellow;
}
.text {
	background-color: lightyellow;
}
.blog_entry {
    padding:16px;    
}
.blog_entry h3 {
   	font-family: "Tahoma", Geneva, sans-serif;
    color:lightyellow;
}
.blog_entry h2 {
   	font-family: "Tahoma", Geneva, sans-serif;
    
    color:lightyellow;
}
.blog_entry a {
        text-decoration: none;
}
.blog_entry pre {

   	font-family: "Tahoma", Geneva, sans-serif;
	font-size: 20px;
	margin: 4px;
}

.header_box h2 {
    padding: 16px;
    font-size: 32px;
   	font-family: "Tahoma", Geneva, sans-serif;
	color:tomato;

    text-decoration: none;

}
.header_box h1 {
    padding: 16px;
   	font-family: "Tahoma", Geneva, sans-serif;
	color:tomato;

    text-decoration: none;

}
.mursu_image {
}
.header_box a:link {
	color:tomato;

    text-decoration: none;
}

.header_box a:visited {
	color:tomato;

    text-decoration: none;
}
.header_header a:link {
	color:tomato;

    text-decoration: none;
}

.header_header a:visited {
	color:tomato;

    text-decoration: none;
}

.text a:link {

   	font-family: "Tahoma", Geneva, sans-serif;
    text-decoration: none;
    padding:16px;
	font-size: 20px;
	color:tomato;
}
