.hamburger_box {
    overflow: hidden;
    margin-top:0.5vw;
    margin-left: auto;
    right:0.5vw;
    background-color: lightyellow;
}
.hamburger_box img {
    width:8vw;
    height:8vw;
}

.blog_img {
    max-width:100%;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1vw;
    border: none;
    outline: none;
    color: white;
    padding: 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
}


.dropdown_content {
    display: none;
    position: absolute;
    background-color: lightyellow;
    min-width: 5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a {
    font-family: "Tahoma", Geneva, sans-serif;
    color:lightyellow;
    float: none;
    color: black;
    padding: 2vw;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1.2vw;
    word-wrap: break-all;
    white-space:normal;
}

.dropdown_content a:hover {
    background-color: brown;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.main_title_box {
}
.title_box {
}
.header_box  {
    overflow: hidden;

    display:flex;
    flex-direction:row;
    align-items:center;
    background-color: lightyellow;
}
.text {
    background-color: lightyellow;
}
.text_box {
}
.blog_entry {
    padding:1vw;    
    width:100%;
}
.blog_entry h3 {
    font-size:14px;
    font-family: "Tahoma", Geneva, sans-serif;
    color:lightyellow;
}
.blog_entry h2 {
    font-size:18px;
    font-family: "Tahoma", Geneva, sans-serif;
    
    color:lightyellow;
}
.blog_entry h1 {
    font-size:22px;
    font-family: "Tahoma", Geneva, sans-serif;
    
    color:lightyellow;
}
.blog_entry a {
    text-decoration: none;
    color:brown;
}
.blog_entry pre {

    font-family: "Tahoma", Geneva, sans-serif;
    font-size: 16px;
    margin: 0.2vw;
    word-wrap: break-all;
    white-space:normal;
}
.header_box h2 {
    top: 50%;
    font-size: 2vw;
    margin-left:2vw;
    font-family: "Tahoma", Geneva, sans-serif;
    color:tomato;

    text-decoration: none;

}
.header_box h1 {
    padding: 22px;
    font-family: "Tahoma", Geneva, sans-serif;
    color:tomato;

    text-decoration: none;

}
.mursu_image {
}
.header_box a:link {
    color:tomato;

    text-decoration: none;
}

.header_box a:visited {
    color:tomato;

    text-decoration: none;
}
.header_header a:link {
    color:tomato;

    text-decoration: none;
}

.header_header a:visited {
    color:tomato;

    text-decoration: none;
}

.text a:link {

    font-family: "Tahoma", Geneva, sans-serif;
    text-decoration: none;
    padding:16px;
    font-size: 1vw;
    color:tomato;
}
.paragraph {
    margin:0px;
}
@media only screen and (max-width: 992px) {
    .title_box {
	display:none;
    }
    .main_title_box {
	
    }
    .header_box h2 {
	top: 50%;
	font-size: 28px;
	margin-left:2vw;
	font-family: "Tahoma", Geneva, sans-serif;
	color:tomato;

	text-decoration: none;

    }
    .hamburger_box img {
	width:64px;
	height:64px;
    }
    .dropdown_content a {
	font-family: "Tahoma", Geneva, sans-serif;
	color:lightyellow;
	float: none;
	color: black;
	padding: 2vw;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 14px;
	word-wrap: break-all;
	white-space:normal;
    }
}

